<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/jquery-2.1.4.min.js"></script>
<script src="/static/semantic.min.js"></script>
<title>Cocktail</title>

<body>
<div class="ui main container">
    <h1> {{ cocktail.title }}</h1>
    <ul>
        {% for ingr in cocktail.ingredients %}
            <li>
                <a href="#">{{ ingr.quantity ~ " " ~ ingr.title }}</a>

                <div class="hidden"> {{ ingr.description }} </div>
            </li>
        {% endfor %}
    </ul>
    <b>Directions</b>
    <div> {{ cocktail.directions }}</div>
    <br>
    <div style="text-align: center;">
        <div style="width:200px; display: inline;" class="center">
            <div class="ui blue submit button similar">Mix Similar</div>
        </div>
        <div style="width:200px; display: inline;" class="center">
            <div class="ui blue submit button another">Mix Another</div>
        </div>
    </div>
</div>
</body>

<script type="text/javascript">
    $('a').click(function () {
        $(this).next().toggle(100);
    });
    $('.ui.blue.submit.button.similar').on('click', function () {
        location.reload();
    });
    $('.ui.blue.submit.button.another').on('click', function () {
        window.location.href = "/";
    });
</script>
