<!doctype html>
<link rel="stylesheet" type="text/css" href="/static/semantic.min.css">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<script src="/static/jquery-2.1.4.min.js"></script>
<script src="/static/semantic.min.js"></script>
<title>Imbibe</title>
<body>
<div class="ui main container">
    <div class="center" style="width:300px;">
        <h1 class="ui header">Select Your Flavors</h1>
    </div>
    <br>
    <br>
    <div class="ui form grid">
        <div class="grouped fields four wide">
            <h3 class="ui header">Primary Flavors</h3>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="22" tabindex="0" class="hidden">
                    <label>sweet</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="57" tabindex="0" class="hidden">
                    <label>sour</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="8" tabindex="0" class="hidden">
                    <label>bitter</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="10" tabindex="0" class="hidden">
                    <label>herbal</label>
                </div>
            </div>
        </div>
        <div class="grouped fields four wide">
            <h3 class="ui header">Fruits</h3>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="11" tabindex="0" class="hidden">
                    <label>orange</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="58" tabindex="0" class="hidden">
                    <label>lemon</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="60" tabindex="0" class="hidden">
                    <label>lime</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="18" tabindex="0" class="hidden">
                    <label>cherry</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="30" tabindex="0" class="hidden">
                    <label>apple</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="33" tabindex="0" class="hidden">
                    <label>apricot</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="69" tabindex="0" class="hidden">
                    <label>pineapple</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="93" tabindex="0" class="hidden">
                    <label>mint</label>
                </div>
            </div>
        </div>
        <div class="grouped fields four wide">
            <h3 class="ui header">Spirit Flavors</h3>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="31" tabindex="0" class="hidden">
                    <label>whiskey</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="20" tabindex="0" class="hidden">
                    <label>rum</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="29" tabindex="0" class="hidden">
                    <label>brandy</label>
                </div>
            </div>
        </div>
        <div class="grouped fields four wide">
            <h3 class="ui header">Aromatics</h3>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="9" tabindex="0" class="hidden">
                    <label>anise</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="157" tabindex="0" class="hidden">
                    <label>oak</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="132" tabindex="0" class="hidden">
                    <label>floral</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="115" tabindex="0" class="hidden">
                    <label>juniper</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="2" tabindex="0" class="hidden">
                    <label>smokey</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="4" tabindex="0" class="hidden">
                    <label>grain</label>
                </div>
            </div>
        </div>
        <div class="grouped fields four wide">
            <h3 class="ui header">Spices</h3>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="49" tabindex="0" class="hidden">
                    <label>coffee</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="80" tabindex="0" class="hidden">
                    <label>chocolate</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="96" tabindex="0" class="hidden">
                    <label>vanilla</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="92" tabindex="0" class="hidden">
                    <label>spice</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="14" tabindex="0" class="hidden">
                    <label>clove</label>
                </div>
            </div>
            <div class="field">
                <div class="ui checkbox">
                    <input type="checkbox" name="flavor" value="13" tabindex="0" class="hidden">
                    <label>cinnamon</label>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div style="width:200px;" class="center">
        <div class="ui blue submit button">Mix Your Cocktail</div>
    </div>
</div>

</body>
<script type="text/javascript">
    $('.ui.checkbox').checkbox();
    $('.ui.blue.submit.button').on('click', function () {
        var formData = $('.ui.form input').serializeArray();
        var qstring = ""
        formData.forEach(function (d) {
            console.log(d);
            qstring += "id=" + d['value'] + "&"
        });
        window.location.href = "/search?" + qstring;
    });
</script>
